/*-------Вся страница--------*/
body {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
}
/*----------Шапка---------*/
header {
    font-weight: 500;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #e6f7b8, #ffffff);
    opacity: 0.9;
    filter: alpha(Opacity=90);
}
.nav_logo img {
    width: 100px;
}
nav {
    display: flex;
}
.nav_logo_elements li {
    font-size: 30px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li {
    margin-left: 10px;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.nav_kabinet img {
    width: 50px;
}
.nav_logo_elements {
    justify-content: left;
}
.nav_list {
    justify-content: center;
}
.nav_kabinet {
    justify-content: right;
    margin-right: 20px;
}
.nav_kabinet .cart_img {
    margin-right: 30px;
}
.nav_contact_telephone {
    justify-content: left;
    margin-left: 20px;
}
.nav_contact_telephone img {
    width: 40px;
}
.nav_license {
    justify-content: right;
    margin-right: 20px;
}
.cart_img img {
    width: 50px;
}
/*-------Подвал------*/
footer {
    font-weight: 500;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, #e6f7b8, #ffffff);
    opacity: 0.9;
    filter: alpha(Opacity=90);
}
/*---------------Каталог---------------*/
.page_name {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.catalog {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 1px rgba(172, 163, 163, 0.2); 
    margin-top: 50px;
}
.items_title img {
    max-height: 120px;
    border-radius: 10px;
}
.items_title {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
.items_name {
    font-size: 25px;
}
.items {
    display: flex;
}
.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.item {
    padding: 15px;
    max-width: 150px;
    max-height: 230px;
    flex: none;
    scroll-snap-align: start;
}
.item_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item_img img {
    max-height: 120px;
}
.item_amount {
    font-size: 12px;
    color: gray;
    line-height: 0px;
}   
.in_cart {
    display: flex;
}
.in_cart button {
    display: flex;
    margin-left: 20px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.in_cart button img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.etc {
    margin-top: 10px;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e6f7b8;
    border: 1px solid #000000;
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
/*-------------Корзина-----------*/
.cart {
    width: 80%;
    margin: auto;
    margin-top: -70px;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 1px rgba(172, 163, 163, 0.2); 
}
.cart-items img {
    max-height: 150px;
    max-width: 270px;
}
.cart-items {
    display: inline-flex;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 1px rgba(172, 163, 163, 0.2); 
    margin-top: 10px;
}
.cart-items button {
    font-family: "Poiret One", sans-serif;
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
.clear-cart-button {
    font-family: "Poiret One", sans-serif;
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
/*----------------Оформление заказа--------------------*/
.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.cart-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.cart-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}
.total-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.form-group {
    margin: 15px 0;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.submit-button {
    display: flex;
    margin: auto;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    border-radius: 10px;
    border: 3px solid #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}
.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}
.sms-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(185, 185, 247);
    color: white;
}
/*--------Страница "Заказы"---------*/
.orders-container {
    max-width: 800px;
    margin: 0 auto;
}
.order {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 1px rgba(172, 163, 163, 0.2); 
    padding: 30px;
    margin-bottom: 50px;
}
.order-header {
    font-weight: 500;
    font-size: 20px;
}
.order-items {
    margin: 10px 0;
}
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.order-item img {
    max-width: 50px;
    margin-right: 20px;
}
.order-total {
    font-weight: bold;
    margin-top: 10px;
}
.order-status {
    font-weight: bold;
    color: #007BFF;
}
.new_order {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 30px;
}